.sear{
    padding: 30px;
    color: white;
    font-size: 20px;
}

body{
    background-color: #01051E;
}

.uth{
    color: white;
}

.man{
    color: orangered;
}

.both{
    font-weight: bolder;
    font-size: 40px;
}

.sile{
    padding-left: 90px;
    padding-right: 90px;
}

.btnn{
    background-color: orangered;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}

.f1st{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.barr1{
    width: 450px;
    padding-top: 150px;
}


.barr1>h1{
    font-weight: bolder;
    color: white;
}

.see{
    background-color: #020726;
    text-align: center;
    padding: 60px;
}

.f{
    color: orangered;
    font-size: 20px;
    font-weight: bolder;
}

.bif{
    color: white;
    font-size: 40px;
    font-weight: bolder;    
    margin: auto;
    padding-bottom: 60px;
}



.darkmode{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px 0;
}

.grids{
    display: flex;
    gap: 20px;

}

.fa-solid{
    color: white;
    background-color: orangered;
    
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
}

.bord{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    background-color: transparent;
    transition-duration: 0.4s;
}
.bord:hover{
    background-color: #01051E;
}

.wording {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.pp {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.fles{
    display: flex;
    padding-top: 100px;
    margin-left: 100px;
    gap: 100px;
}


.oth{
    color: white;
    width: 400px;
    
}

.ben{
    color: white;
    padding-top: 100px;
}
.num{
    background-color: rgb(12, 7, 11);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 60px;
    transition-duration: 0.4s;
}
.num:hover {
    background-color: #000738;
    color: white;
}

.calss{
    width: 600px;
}

.header-navbar {
    position:fixed;
    top:0;
}

hr{
    border: 2px solid white;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
}

.sticky-top{
    background-color: #01051E;
    opacity: 0.9;
}

li > a{
    color: white;
    text-align: left;
}

li{
    list-style: none;
    text-align: left;
}


.emal {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }
.emal input {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    min-width: 200px;
  }
.emal button {
    background-color: #ff7a00;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    padding: 10px 20px;
  }

.BIGI{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
  }
.fa-brands{
    color: white;
    padding: 10px;
}

.no6{
    background-color: #010311;
    padding: 90px;
    border-radius: 10px;
}

.ss{
    padding: 190px;

}
.ext{
    padding: 30px;
    font-size: 20px;
}

.col> input{
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin: 20px;
}

.but{
    padding: 20px;
}

textarea{
    width: 90%;
    height: 100px;
}

#content-container .content {
    display: none;
}

button > img{
    width: 100px;
    border-radius: 100%;
}

.buttt{
    border-radius: 100%;
    margin: 30px;
}